<form class="" action="/new-password" method="post">
  <h1>Password reset</h1>
  <h4>Enter your new password</h4>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" value="">
  <input type="hidden" name="email" value="<%= email %>">
  <input type="hidden" name="code" value="<%= code %>">
  <button type="submit" name="button">Go!</button>
</form>
